
{% include head.html %}

<header class="header d-flex justify-content-start">

  <div class="logo">
    <a href="{{ site.baseurl }}/">
      <img src="{{ 'favicon.png' | relative_url }}" alt="B2S Logo" width="40">
    </a>
  </div>

  <nav class="navbar navbar-expand-lg navbar-custom justify-content-center">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/services">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/tecnologies">Tecnologias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/cases">Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>     

</header>

